/* Animations */
@keyframes up {
  0% {
    opacity: 1;
    transform: translateY(0px) rotate(90deg);
  }
  100% {
    opacity: 0.6;
    transform: translateY(-10px) rotate(90deg);
  }
}

@keyframes wavemotion{
    0%{ 
        background-position-x: 0px;
     }
     100%{
        background-position-x: 1000px;
     }
}

@keyframes wavemotion2{
    0%{ 
        background-position-x: 0px;
     }
     100%{
        background-position-x: -1500px;
     }
}

/* Styles */



.infoimg {
  width: 80%;
  height: auto;
}

.content {
  font-family: "Prosto One", cursive;
  width: 80%;
  font-weight: 600;
  font-size: 1.25em;
  text-align: left;
  align-self: center;
  justify-content: center;
  background: linear-gradient(to right, #183efb, #00c594);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.waveSection{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(#5abaff, #cafff2); */
    background-color: white;
    overflow: hidden;
    font-family: sans-serif;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: url(../Assets/wave.svg);
    background-size: 1000px 20vh;
}

.wave1{
    animation: wavemotion 20s linear 0s infinite forwards;
    z-index: 100;
    opacity: 1;
    bottom: 0;
}

.wave2{
    animation: wavemotion2 12.5s linear 0s infinite backwards;
    z-index: 200;
    opacity: 0.8;
    bottom: 0.5vh;
}

.wave3{
    animation: wavemotion 10s linear 6s infinite forwards;
    z-index: 300;
    opacity: 0.6;
    bottom: 1vh;
}

.wave4{
    animation: wavemotion2 10s linear 6s infinite backwards;
    z-index: 400;
    opacity: 0.4;
    bottom: 1.5vh;
}


/* Media Queries */

@media (max-width: 720px) {
  .infoimg {
    width: 80%;
  }
  .content{
    font-size: 0.8em;
    background: linear-gradient(to right, #68b6ff, #f8dbff);
    text-shadow: black 1px 1px;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .waveSection{
    background-image: url('../Assets/mainhome.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .noShow{
    display: none;
  }
}
